@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root {
    --mainColor: #1D263B;
    --mainColorLight: #5C6784;
    --secondaryColor: #CA054D;
    --textColor: #A0EADE;
}

.logon-page, .reg-page {
    background-color: #e8f1f3;
}

nav {
    /* display: block;
    align-items: left;
    justify-content: space-between;
    width: 10rem;
    height: 100vh;
    padding-left: 30px; 
    position: fixed; */
    background-color: #e8f1f3;
    /* background-image: linear-gradient(to right, #ffffff,  rgba(255, 255, 255, 0.274));  */
    color: var(--textColor);
    font-size: 15pt;
    /* font-weight: 600; */
}

.hoppsnav {
    /* align-items: center; */
    width: auto;
    height: 85px;
}

/* nav a{
    /* /* margin: 0; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px; */
    /* color: var(--textColor);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 2rem; 
}*/

nav a:hover{
    color: var(--secondaryColor)
}


.nav-button {
    /* padding: 8px; */
    cursor: pointer;
    /* background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0; */
}


h3 {
    font-size: 20pt;
    color: var(--secondaryColor);
    padding-bottom: 25px;
    padding-top: 50px;
}

h4 {
    color: var(--mainColor)
}

h1 {
    color: var(--mainColor)

}

.field {
    width: 350px;
    align-items: center;
    display: inline-block;
}

.input {
    margin-top: 1rem;
}

.label {
    font-size: 14pt;
}

.button {
    /* height: 100%; */
    width: 100%;
    /* margin-top: 25px; */
    /* font-size: larger; */
}

.placeholder {
    width: 250px;
    height: 100%;
}

.image {
    width: 48px;
    height: 50px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 50px;
}
  
.cardsc {
    display: inline-block;
}

.btn-details {
   display: flex;
}

.gap {
    width: 10px;
    height: auto;
    display: inline-block;
}

.loader {
    height: 450px;
    width: 450px;
    margin: auto;
 }

 .rails-flights {
    margin: 0px 15px;
 }

 .dashflight.field {
    margin: 0 auto;
    display: block;
 }

 .bars {
    margin: 0 auto;
 }